
 <li>
    <div class="clearfix">
      <div>
        <p style="font-size: 15px;"><strong><a href="javascript:void(0);" ><%= review.title %></a></strong></p>
      </div>
      
      <p class="pull-left">
    
          <a href="javascript:void(0);" >
            <% if review.show_identifier %>
              <% if Spree::Reviews::Config[:show_email] && review.user %>
                <span itemprop="author"><%= review.user.email %></span>
              <% else %>
                <span itemprop="author"><%= review.name %></span>
              <% end %>
            <% else %>
              <span itemprop="author"><%= Spree.t(:anonymous) %></span>
            <% end %>
          </a>
      
      </p>
      <span class="date"><%= l review.created_at.to_date %></span>
      <div class="pull-right rating-box clearfix">
        <%= render 'spree/reviews/stars', stars: review.rating %>
      </div>
    </div>
    <p><%= simple_format(review.review) %></p>
  </li>

